name: Check Storybook Stories

on: pull_request

jobs:
  check-stories:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Setup Node.js
        uses: actions/setup-node@v6

        with:
          node-version: "latest"
          cache: "npm"

      - name: Install dependencies
        run: npm ci

      - name: Check if all components have stories
        run: node scripts/check-stories.cjs
